body {
    background: linear-gradient(to right, rgb(32, 32, 32),white, white, rgb(32, 32, 32));  
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
    overflow-y: hidden;
}

#MainContent {
    display: flex;
    min-height: inherit;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

#MainBox {
    width: 60%;
    height: 550px;
    box-shadow: 12px 12px 24px rgb(32, 32, 32);
    background-color: white;
    display: flex;
    position: relative;
}

.GrayContainer {
    display: inline;
    width: 95%;
    height: 100px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 2.5%;
    opacity: 0.5;
}

#PhotoTitle #PhotoDescription {
    z-index: 1;
    color: red;
    opacity: 1;
    margin: 5px;
    display: block;
}

#PhotoTitle {
}

#PhotoDescription {
}

.Arrow {
    display: inline-block;
    margin-left: 5px;
    height: 24px;
}

#RightArrow {
    transform: rotate(180deg);
}

.Panel {
    display: inline-block;
    height: 100%;
    width: 2.5%;
    display: flex;
    align-items: center;
}

.BigPicture {
    display: inline-block;
    width: 95%;
    height: 100%;
}

#Photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1; /* Behind everything, so the Title and Description will be shown on the picture */
}

#PhotoTitle {
    font-size: 36px;

}

#BottomArea {
    display: flex;
    border: 1px solid black;
    height: 128px;
    width: 60%;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.Thumbnail {
    width: 104px;
    height: 104px;
    display: inline-block;
}

.ThumbnailPhoto {
    width: 96px;
    height: 96px;
    padding: 5px;
    background-color: white;
    border: 1px solid red;
}

.HiddenTitle {
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: 'Spectral SC', serif;
    background: gray;
    border-radius: 5px;
    padding: 5px;
    margin-top: 6px;
    display: none;    
}

.Thumbnail:hover .HiddenTitle {
    display: block;
}

.Thumbnail:hover .ThumbnailPhoto {
    box-shadow: 12px 12px 24px rgb(32, 32, 32);
}
